{% extends 'base.html.twig' %}

{% block title %}{{contributor.firstname}} {{contributor.lastname}}{% endblock %}

{% block body %}
{#Fil d'ariane#}
<div class="breadcrumb">
    {% include 'breadcrumb.html.twig' with { 'breadcrumbs': breadcrumbs } %}
</div>
{#Fiche contributeur#}
<section>
    {#Bloc titre + infos + résumés et extraits + prix et formats#}
    <div class="contributor-detail">
        <h1>{{contributor.firstname}} {{contributor.lastname}}</h1>
        {#Bloc 3 colonnes#}
        <div class="list">
            <div class="card informations">
                <h2>Informations</h2>
                <img class="brick-img" src="{{asset('img/contributeurs/' ~ contributor.photo)}}">
                <h3>Compétences</h3>
                {% for skill in skills %}
                    <div class="brick">
                        <p>{{skill.name}}</p>
                    </div>
                {% endfor %}

            </div>
            <div class="card summary">
                <h2>à propos</h2>
                <p class="">{{contributor.bio | raw }}</p>
            </div>
        </div>
    </div>
</section>
{# Livres du même auteur  #}
<section>        
    <h2 class="search-results">Réalisations</h1>
    <div class="list">
        {% for book in books_by_author %}
        <a class="book-card book-card-search" href="{{path('book', {id: book.id})}}" title="">
        <article>
            <div class="book-content">
                <p class="contributor-name">
                    {% for boSkCo in book.boSkCos %}
                        {% if boSkCo.skill.name == 'Auteur' %}
                            {{boSkCo.contributor.firstname}} {{boSkCo.contributor.lastname}}<br>
                        {% endif %}
                    {% endfor %}
                </p>
                <img class="cover" src="{{asset('img/livres/' ~ book.cover)}}" alt="{{book.title}}" >
                <p class="book-title">{{book.title}}</p>
            </div>
            <div class="stars-display stars">
                {% if book.getaveragestars %}
                        {% for i in 1..5 %}
                            {% if i <= book.getaveragestars %}
                                <span class="star">&#9733;</span> {# Étoile pleine #}
                            {% else %}
                                <span class="star">&#9734;</span> {# Étoile vide #}
                            {% endif %}
                        {% endfor %}
                {% else %}
                    <span class="star grey">&#9734;</span> {# Étoile vide #}
                    <span class="star grey">&#9734;</span> {# Étoile vide #}
                    <span class="star grey">&#9734;</span> {# Étoile vide #}
                    <span class="star grey">&#9734;</span> {# Étoile vide #}
                    <span class="star grey">&#9734;</span> {# Étoile vide #}
                {% endif %}            
            </div>              
            <ul class="book-prices">
            {% for format in book.formats %}
                <li class="book-price">{{format.priceHT}}€</li>
                <li class="book-type"><span class="material-symbols-outlined">{{format.type.typeImg}}</span> {{format.type.name}}</li>
            {% endfor %}
            </ul>
        </article>
        </a>
        {% endfor %}
    </div>
</section>

{% endblock %}
