{% extends 'base.html.twig' %}

{% block title %}Livres dans la catégorie{{category.name}}{% endblock %}

{% block body %}
<div class="breadcrumb">
    <p>Fil d'ariane</p>
</div>
<section>        
    <h1>{{category.name}}</h1>
    <div class="list">
        {% for book in category.books %}
        <a class="book-card" href="{{path('book', {id: book.id})}}" title="">
        <article>
            <div class="book-content">
                <p class="contributor-name">
                    {% for boSkCo in book.boSkCos %}
                        {% if boSkCo.skill.name == 'Auteur' %}
                            {{boSkCo.contributor.firstname}} {{boSkCo.contributor.lastname}}<br>
                        {% endif %}
                    {% endfor %}
                </p>
                <img class="cover" src="{{asset('img/livres/' ~ book.cover)}}" alt="{{book.title}}" >
                <p class="book-title">{{book.title}}</p>
            </div>
            <div class="stars">
                <span class="material-symbols-outlined">star</span>
                <span class="material-symbols-outlined">star</span>
                <span class="material-symbols-outlined">star</span>
                <span class="material-symbols-outlined">star</span>
                <span class="material-symbols-outlined">star</span>
            </div>
            <ul class="book-prices">
            {% for format in book.formats %}
                <li class="book-price">{{format.priceHT}}€</li>
                <li class="book-type"><span class="material-symbols-outlined">{{format.type.typeImg}}</span> {{format.type.name}}</li>
            {% endfor %}
            </ul>
        </article>
        </a>
        {% endfor %}
    </div>
</section>

{% endblock %}
