{% extends 'base.html.twig' %}

{% block title %}{{app.user.firstname}}{% endblock %}

{% block body %}
<section class="list">
     <div class="form-container">
        <div class="right">
            <h1>Compte de {{app.user.firstname}}</h1>
            <a class="extract right" href="{{path('customer_account')}}">Retour</a>
        </div>
       {{ form_start(form) }}
        <div class="form-row">
            {{ form_row(form.firstname) }}
            {{ form_row(form.lastname) }}
        </div>
        <div class="form-row">
            {{ form_row(form.email) }}
            {{ form_row(form.nickname) }}
        </div>
        <div class="form-row">
            {{ form_row(form.optIn) }}
            {{ form_row(form.preference) }}
        </div>
        <button type="submit" class="button button-submit">Envoyer</button>
        {{ form_end(form) }}
    </div>
</section>

{% endblock %}
