{% extends 'base.html.twig' %}

{% block title %}Mon compte{% endblock %}

{% block body %}
<section>        
    <h1>Compte de {{app.user.firstname}}</h1>
    <div class="list account">
        <article class="book-card" >
            <h2>Mes commandes</h2>
            <span class="material-symbols-outlined customer-account">receipt_long</span>
            {% if my_invoices %}
            <a href="#invoices" class="account-content end">
                <span class="material-symbols-outlined">preview</span>
                <p class="mt-1">Consulter</p>
            </a>
            {% else %}
                <p>Vous n'avez pas encore réalisé de commande</p>
            {% endif %}

        </article>
        <article class="book-card" >
            <h2>Bibliothèque</h2>
            <span class="material-symbols-outlined customer-account">collections_bookmark</span>
            <a href="" class="account-content">
                <span class="material-symbols-outlined">book_4_spark</span>
                <p>Gérer</p>
            </a>
            {# <a href="{{ path('logout') }}" class="account-content end">
                <span class="material-symbols-outlined">bookmark_heart</span>
                <p>Ma PAL</p>
            </a> #}
        </article>
        <article class="book-card" >
            <h2>Commentaires et évaluations</h2>
            <span class="material-symbols-outlined customer-account">reviews</span>
            <a href="" class="account-content">
                <span class="material-symbols-outlined">visibility</span>
                <p>Vos commentaires</p>
            </a>
            <a href="{{ path('logout') }}" class="account-content end">
                <span class="material-symbols-outlined">star_rate</span>
                <p>nb de stars</p>
            </a>
        </article>
        <article class="book-card" >
            <h2>Informations personnelles</h2>
            <span class="material-symbols-outlined customer-account">person</span>
            <a href="{{ path('customer_edit', {id: app.user.id}) }}" class="account-content">
                <span class="material-symbols-outlined">person_edit</span>
                <p>Compléter</p>
            </a>
            <a href="{{ path('logout') }}" class="account-content end">
                <span class="material-symbols-outlined">logout</span>
                <p>Se déconnecter</p>
            </a>
        </article>
       
    </div>
</section>
{#ma PAL#}
{% if books_to_be_read %}
<section>
    <h2>Ma PAL</h2>
    <div class="list">
        {% for book_tbr in books_to_be_read %}
        <a class="book-card" href="{{path('book', {id: book_tbr.book.id})}}" title="">
        <article>
            <div class="book-content-pal">
                <div class="tbr-delete">
                     <button onclick="window.location.href='{{ path('tbr_remove', {id: book_tbr.id}) }}'" title="supprime le livre de la PAL" class="material-symbols-outlined">delete</button>
                </div>
                <p class="contributor-name">
                    {% for boSkCo in book_tbr.book.boSkCos %}
                        {% if boSkCo.skill.name == 'Auteur' %}
                            {{boSkCo.contributor.firstname}} {{boSkCo.contributor.lastname}}<br>
                        {% endif %}
                    {% endfor %}
                </p>
                <img class="cover" src="{{asset('img/livres/' ~ book_tbr.book.cover)}}" alt="{{book_tbr.book.title}}" >
                <p class="book-title">{{book_tbr.book.title}}</p>
            </div>
            <ul class="book-prices">
            {% for format in book_tbr.book.formats %}
                <li class="book-price">{{format.priceHT}}€</li>
                <li class="book-type"><span class="material-symbols-outlined">{{format.type.typeImg}}</span> {{format.type.name}}</li>
            {% endfor %}
            </ul>
        </article>
        </a>
        {% endfor %}
    </div>
</section>
{% endif %}
{# Mes factures #}
{% if my_invoices %}
    
<section id="invoices">
    <h2>Mes factures</h2>
    <div class="list">
        <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Référence</th>
                <th>Date</th>
                <th>Statut</th>
                <th>Total HT</th>
                <th>Total TTC</th>
            </tr>
        </thead>
        <tbody>           
        {% for invoice in my_invoices %}            
            <tr>
                <td>{{ invoice.id }}</td>
                <td>{{ invoice.userToken.userToken }}</td>
                <td>{{ invoice.createdAt | date("d/m/Y") }}</td>
                <td>{{ invoice.status.status }}</td>
                <td>{{ invoice.totalHT }}</td>
                <td>{{ invoice.totalTTC }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>   

    </div>
</section>
{% endif %}

{% endblock %}
