{% extends 'base.html.twig' %}

{% block title %}Hello CustomerAccountController!{% endblock %}

{% block body %}
<div class="breadcrumb">
    <p>Fil d'ariane</p>
</div>
<section>        
    <h1>Compte de {{app.user.firstname}}</h1>
    <div class="list account">
        <article class="book-card" >
            <h2>Mes commandes</h2>
            <span class="material-symbols-outlined customer-account">receipt_long</span>
            <a href="" class="account-content end">
                <span class="material-symbols-outlined">preview</span>
                <p>Consulter</p>
            </a>
        </article>
        <article class="book-card" >
            <h2>Bibliothèque</h2>
            <span class="material-symbols-outlined customer-account">collections_bookmark</span>
            <a href="" class="account-content">
                <span class="material-symbols-outlined">book_4_spark</span>
                <p>Gérer</p>
            </a>
            <a href="{{ path('logout') }}" class="account-content end">
                <span class="material-symbols-outlined">bookmark_heart</span>
                <p>Ma PAL</p>
            </a>
        </article>
        <article class="book-card" >
            <h2>Commentaires et évaluations</h2>
            <span class="material-symbols-outlined customer-account">reviews</span>
            <a href="" class="account-content">
                <span class="material-symbols-outlined">visibility</span>
                <p>Vos commentaires</p>
            </a>
            <a href="{{ path('logout') }}" class="account-content end">
                <span class="material-symbols-outlined">star_rate</span>
                <p>nb de stars</p>
            </a>
        </article>
        <article class="book-card" >
            <h2>Informations personnelles</h2>
            <span class="material-symbols-outlined customer-account">person</span>
            <a href="{{ path('customer_edit', {id: app.user.id}) }}" class="account-content">
                <span class="material-symbols-outlined">person_edit</span>
                <p>Compléter</p>
            </a>
            <a href="{{ path('logout') }}" class="account-content end">
                <span class="material-symbols-outlined">logout</span>
                <p>Se déconnecter</p>
            </a>
        </article>
       
    </div>
</section>

{% endblock %}
