{% extends 'admin/adminBase.html.twig' %}

{% block title %}Gestion des catégories{% endblock %}

{% block body %}
    <h1>Liste des catégories</h1>
    <div>
        <a class="add" href={{path('admin_category_add')}} title="ajouter une catégorie">
            <p>Ajouter une catégorie</p> <span class="material-symbols-outlined">add_box</span>
        </a>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for category in all_categories %}
                <tr>
                    <td>{{ category.id }}</td>
                    <td>{{ category.name }}</td>
                    <td>
                        <a href="{{ path('category', { id: category.id }) }}" class="btn btn-info btn-sm">Voir</a>
                        <a href="{{ path('admin_category_edit', { id: category.id }) }}" class="btn btn-warning btn-sm upd-{{category.id}}">Modifier</a>
                        <form method="post" action="{{ path('admin_category_remove', { id: category.id }) }}" style="display: inline;" onsubmit="return confirm('Voulez-vous vraiment supprimer ce livre ?');">
                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ category.id) }}">
                            <button id="{{category.id}}" class="btn btn-danger btn-sm">Supprimer</button>
                        </form>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5" class="text-center">Aucune catégorie trouvée.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
