{% extends 'Admin/adminBase.html.twig' %}

{% block title %}Gestion des contributeurs{% endblock %}

{% block body %}
    <h1>Liste des contributeurs</h1>
    <div>
        <a class="add" href={{path('admin_contributor_add')}} title="ajouter un livre">
            <p>Ajouter un contributeur</p> <span class="material-symbols-outlined">add_box</span>
        </a>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Lastname</th>
                <th>Firstname</th>
                <th>Photo</th>
                <th>Bio</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for contributor in all_contributors %}
                <tr>
                    <td>{{ contributor.id }}</td>
                    <td>{{ contributor.firstname }}</td>
                    <td>{{ contributor.lastname }}</td>
                    <td>
                        {% if contributor.photo %}
                            <img src="{{ asset('img/contributeurs/' ~ contributor.photo) }}" alt="{{ contributor.firstname }} {{ contributor.lastname }}" style="max-width: 40px;">
                        {% else %}
                            Pas de photo
                        {% endif %}
                    </td>
                    <td>{{ contributor.bio|length > 50 ? contributor.bio[:50] ~ '...' : contributor.bio }}</td>
                    <td>{{ contributor.status }}</td>
                    <td>
                        <a href="{{ path('contributor', { id: contributor.id }) }}" class="btn btn-info btn-sm">Voir</a>
                        <a href="{{ path('admin_contributor_edit', { id: contributor.id }) }}" class="btn btn-warning btn-sm">Modifier {{ contributor.id }}</a>
                        <form method="post" action="{{ path('admin_contributor_remove', { id: contributor.id }) }}" style="display: inline;" onsubmit="return confirm('Voulez-vous vraiment supprimer ce livre ?');">
                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ contributor.id) }}">
                            <button id="{{contributor.id}}" class="btn btn-danger btn-sm">Supprimer</button>
                        </form>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5" class="text-center">Aucun contributeur trouvé.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
