{% extends 'Admin/adminBase.html.twig' %}

{% block title %}Gestion des éditeurs{% endblock %}

{% block body %}
    <h1>Liste des éditeurs</h1>
    <div>
        <a class="add" href={{path('admin_editor_add')}} title="ajouter un livre">
            <p>Ajouter un éditeur</p> <span class="material-symbols-outlined">add_box</span>
        </a>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Description</th>
                <th>Logo</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for editor in all_editors %}
                <tr>
                    <td>{{ editor.id }}</td>
                    <td>{{ editor.name }}</td>
                    <td>{{ editor.description|length > 50 ? editor.description[:50] ~ '...' : editor.description }}</td>
                    <td>
                        {% if editor.logo %}
                            <img src="{{ asset('img/editeurs/' ~ editor.logo) }}" alt="{{ editor.name }}" style="max-width: 40px;">
                        {% else %}
                            Pas de logo
                        {% endif %}
                    </td>
                    <td>{{ editor.status }}</td>
                    <td>
                        <a href="{{ path('editor', { id: editor.id }) }}" class="btn btn-info btn-sm">Voir</a>
                        <a href="{{ path('admin_editor_edit', { id: editor.id }) }}" class="btn btn-warning btn-sm">Modifier {{ editor.id }}</a>
                        <form method="post" action="{{ path('admin_editor_remove', { id: editor.id }) }}" style="display: inline;" onsubmit="return confirm('Voulez-vous vraiment supprimer ce livre ?');">
                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ editor.id) }}">
                            <button id="{{ editor.id }}" class="btn btn-danger btn-sm">Supprimer</button>
                        </form>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5" class="text-center">Aucun éditeur trouvé.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
