{% extends 'base.html.twig' %}

{% block title %}{{book.title}}{% endblock %}

{% block body %}
{#Fil d'ariane#}
<div class="breadcrumb">
    {% include 'breadcrumb.html.twig' with { 'breadcrumbs': breadcrumbs } %}
</div>
{#Fiche livre#}
<section class="book-detail">
    {#Couverture du livre#}
    <div class="card">
        <img class="cover-big" src="{{asset('img/livres/' ~ book.cover)}}" alt="{{book.title}}" >
    </div>
    {#Bloc titre + infos + résumés et extraits + prix et formats#}
    <div class="book-datas">
        <h1>{{book.title}}</h1>
        {#Bloc 3 colonnes#}
        <div class="list">
            <div class="card informations">
                <h2>Informations</h2>
                <h3>Auteurs et narrateurs </h3>
                {% for boSkCo in book.boSkCos %}
                        <a href="{{path('contributor', {id: boSkCo.contributor.id})}}" class="brick">
                            <img class="brick-img" src="{{asset('img/contributeurs/' ~ boSkCo.contributor.photo)}}" alt="photo de {{boSkCo.contributor.firstname}} {{boSkCo.contributor.lastname}}">
                            <p class='book-skill'>{{boSkCo.skill.name}} :</p>
                            <p>{{boSkCo.contributor.firstname}} {{boSkCo.contributor.lastname}} </p>
                        </a>          
                {% endfor %}
                <h3>Édité par </h3>
                <a class="brick" href=" {{path('editor', {id: book.editor.id})}}">
                    <img class="brick-img" src="{{asset('img/editeurs/' ~ book.editor.logo)}}" alt="logo de {{book.editor.name}}">
                    <p>{{book.editor.name}}</p>
                </a>
                <h3>Genre</h3>
                <a class="brick" href=" {# {{path('genre', {id: book.genre})}} #}">
                    <p>{{book.genre}}</p>
                </a>

            </div>
            <div class="card summary">
                <h2>Résumé</h2>
                <p>
                {{book.summary | raw }}
                </p>
            </div>
            <div class="card prices">
                <h2>Ajouter à ma PAL</h2>
                    {% if form %}
                        {{ form_start(form) }}
                            {{ form_widget(form) }}
                        {{ form_end(form) }}
                    {% else %}
                        <a href="{{path('customer_account')}}" class="material-symbols-outlined pal">bookmark_heart</a>
                    {% endif %}
                <h2>Prix et formats</h2>
                {% if date(book.parutionDate) > date("now") %}
                    <p class="aparaitre">Disponibe à partir du {{book.parutionDate | date("d/m/Y")}}</p>
                {% else %}
                    <form method="post" action="{{path('basket_add', {id: book.id})}}" class="price-format">
                            {% for format in book.formats %}
                            <p>ISBN : {{format.isbn}}</p>
                            <label>
                                <input type="checkbox" id="{{format.id}}" name="format[]" value="{{format.id}}">
                                <span class="material-symbols-outlined">{{format.type.typeImg}}</span>
                                <p>{{format.type.Name}}</p>
                                <p>{{format.priceTTC}}€</p>
                            </label>
                            {% endfor %}
                            <button type="submit">Ajouter au panier</button>
                    </form>
                {% endif %}
            </div>
        </div>
        <div class="banner">
            <h3>Taille du fichier</h3>
            {% for format in book.formats %}
                {#Si le format est ebook, on affiche le nombre de mots#}
                {% if format.type.name == 'eBook' %}
                <div class="brick-h">
                    <span class="material-symbols-outlined">{{format.type.typeImg}}&nbsp;</span>
                        <div class="brick">
                            <p>{{format.wordsCount}} mots | {{format.fileSize}} Mo</p>
                        </div>
                </div>
                {% endif %}
                {#Si le format est audio, on affiche la durée#}
                {% if format.type.name == 'Audio' %}
                <div class="brick-h">
                    <span class="material-symbols-outlined">{{format.type.typeImg}}&nbsp;</span>
                    <div class="brick">
                        <p>{{format.duration}} heures | {{format.fileSize}} Mo</p>
                    </div>
                </div>     
                {% endif %}
            {% endfor %}  
            <div class="list">
                {% for format in book.formats %}
                    {% if format.type.name == 'eBook' %}
                    <a class="extract" href="" title="">
                        <p>Lire un extrait:&nbsp;</p>
                        <span class="material-symbols-outlined"> {{format.type.typeImg}}</span>
                    </a>
                    {% endif %}
                    {% if format.type.name == 'Audio' %}
                    <a class="extract" href="" title="">
                        <p>Écouter un extrait:&nbsp;</p>
                        <span class="material-symbols-outlined"> {{format.type.typeImg}}</span>
                    </a>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <div class="stars-display">
        {% if averageMark %}     
            <div class="banner">
                <p>Note Moyenne :</p>
                    {% for i in 1..5 %}
                        {% if i <= averageMark %}
                            <span class="star">&#9733;</span> {# Étoile pleine #}
                        {% else %}
                            <span class="star">&#9734;</span> {# Étoile vide #}
                        {% endif %}
                    {% endfor %}  
                <p>{{ averageMark|number_format }}/5</p>
            </div>
            {% for comment in comments %}
            <div class="comments">
                <p class="nickname">{{comment.nickname.nickname}} à donné la note de </p>
                <p ckass="mark">{{comment.stars}}/5</p>
                <p ckass="type">pour le format {{comment.format.type.name}}</p>
                <p class="comment">et à donner l'avis : {{comment.comment}}</p>
            </div>
            {% endfor %}
        {% endif %}

        </div>
    </div>
</section>

{#du même auteur#}
<section>
    <h2>Des mêmes auteurs :</h2>
    <div class="list">
        {% for book in books_by_authors %}
        <a class="book-card" href="{{path('book', {id: book.id})}}" title="">
        <article>
            <div class="book-content">
                <p class="contributor-name">
                    {% for boSkCo in book.boSkCos %}
                        {% if boSkCo.skill.name == 'Auteur' %}
                            {{boSkCo.contributor.firstname}} {{boSkCo.contributor.lastname}}<br>
                        {% endif %}
                    {% endfor %}
                </p>
                <img class="cover" src="{{asset('img/livres/' ~ book.cover)}}" alt="{{book.title}}" >
                <p class="book-title">{{book.title}}</p>
            </div>
            <div class="stars-display stars">
                {% if book.getAverageStars %}
                        {% for i in 1..5 %}
                            {% if i <= book.getAverageStars %}
                                <span class="star">&#9733;</span> {# Étoile pleine #}
                            {% else %}
                                <span class="star">&#9734;</span> {# Étoile vide #}
                            {% endif %}
                        {% endfor %}
                {% else %}
                    <span class="star grey">&#9734;</span> {# Étoile vide #}
                    <span class="star grey">&#9734;</span> {# Étoile vide #}
                    <span class="star grey">&#9734;</span> {# Étoile vide #}
                    <span class="star grey">&#9734;</span> {# Étoile vide #}
                    <span class="star grey">&#9734;</span> {# Étoile vide #}
                {% endif %}            
            </div>              
            <ul class="book-prices">
            {% for format in book.formats %}
                <li class="book-price">{{format.priceHT}}€</li>
                <li class="book-type"><span class="material-symbols-outlined">{{format.type.typeImg}}</span> {{format.type.name}}</li>
            {% endfor %}
            </ul>
        </article>
        </a>
        {% endfor %}
    </div>

</section>

{% endblock %}
