{% extends 'base.html.twig' %}

{% block title %}{{editor.name}}{% endblock %}

{% block body %}
{#Fil d'ariane#}
<div class="breadcrumb">
    <p>Fil d'ariane</p>
</div>
{#Fiche éditeur#}
<section>
    {#Bloc #}
    <div class="contributor-detail">
        <h1>{{editor.name}} </h1>
        {#Bloc 2 colonnes#}
        <div class="list">
            <div class="card informations">
                <img class="brick-img" src="{{asset(editor.logo)}}">
            </div>
            <div class="card summary">
                <h2>à propos</h2>
                <p class="">{{editor.description}}</p>
            </div>
        </div>
    </div>
</section>
<section>        
    <h2 class="search-results">Réalisations</h1>
    <div class="list">
        {% for book in books_by_editor %}
        <a class="book-card book-card-search" href="{{path('book', {id: book.id})}}" title="">
        <article>
            <div class="book-content">
                <p class="contributor-name">
                    {% for boSkCo in book.boSkCos %}
                        {% if boSkCo.skill.name == 'Auteur' %}
                            {{boSkCo.contributor.firstname}} {{boSkCo.contributor.lastname}}<br>
                        {% endif %}
                    {% endfor %}
                </p>
                <img class="cover" src="{{asset(book.cover)}}" alt="{{book.title}}" >
                <p class="book-title">{{book.title}}</p>
            </div>
            <div class="stars">
                <span class="material-symbols-outlined">star</span>
                <span class="material-symbols-outlined">star</span>
                <span class="material-symbols-outlined">star</span>
                <span class="material-symbols-outlined">star</span>
                <span class="material-symbols-outlined">star</span>
            </div>
            <ul class="book-prices">
            {% for format in book.formats %}
                <li class="book-price">{{format.priceHT}}€</li>
                <li class="book-type"><span class="material-symbols-outlined">{{format.type.typeImg}}</span> {{format.type.name}}</li>
            {% endfor %}
            </ul>
        </article>
        </a>
        {% endfor %}
    </div>
</section>

{% endblock %}
