<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Welcome!{% endblock %}</title>
        
        <link rel="dns-prefetch" href="//fonts.googleapis.com">
        <link rel="dns-prefetch" href="//fonts.gstatic.com">
        <link rel="preconnect" href="https://fonts.googleapis.com" crossorigin>
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
       
        <!-- Lazy-load Google Fonts stylesheet -->
        <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:FILL@0..1" 
            rel="stylesheet" 
            media="print" 
            onload="this.media='all'">
        <noscript>
        <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:FILL@0..1" 
                rel="stylesheet">
        </noscript>

        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app', { defer: true })|raw }}{% endblock %}
        {% endblock %}
    </head>
    <body>
        <header>
            <a href="{{path('home')}}" class="logo" aria-label="Retour à l'accueil" title="retour à l'accueil">
                <img src="{{asset('img/interface/logo.png')}}" alt="logo neobook" /> 
                <p>NeoBook</p>
            </a>
            <div class="search-bar">
                <form method="GET" action="/search" class="search-form">
                    <label class="material-symbols-outlined" for="keyword">search</label>
                    <input aria-label="Find a Book" type="text" name="keyword" id="keyword" placeholder="Recherchez un livre, un auteur ou un genre">
                    <input type="submit" value="Rechercher" id="submit">
                    <button class="material-symbols-outlined" type="submit">search</button>
                </form>
            </div>
            <nav class="nav" aria-label="Navigation, connexion au compte utilisateur">
                {% if app.user %}
                    <a href="{{path('customer_account')}}" title="Mon compte">
                        <p>{{ app.user.firstname }} <span class="material-symbols-outlined">person</span></p>
                    </a>
                {% else %}
                    <a href="{{path('customer_account')}}" title="lien de connexion">
                        <p>Connexion <span class="material-symbols-outlined">person</span></p>
                    </a>
                {% endif %}
                    <a href="{{path('basket_view')}}" title="voir le panier">
                        <p>Panier <span class="material-symbols-outlined">shopping_basket</span></p>
                    </a>
            </nav>
        </header>
        {% block body %}{% endblock %}
        <div class="reassurance">
            <p><span class="material-symbols-outlined">live_help</span>Accompagnement</p>
            <p><span class="material-symbols-outlined">credit_card</span>Paiement CB sécurisé</p>
            <p><span class="material-symbols-outlined">lock_open_right</span>Pas de verrou électronique (DRM*)</p>
        </div>
        <footer>
            <div class="footer-column">
                <h3>Informations</h3>
                <ul>
                    <li><a href="{{path('home')}}" title="">Accueil</a></li>
                    <li><a href="{{path('mentions_legales')}}" title="">Mentions légales</a></li>
                    <li><a href="{{path('conditions_utilisation')}}" title="">Conditions d'utilisation</a></li>
                    <li><a href="{{path('qui_sommes_nous')}}" title="">Qui sommes-nous ?</a></li>
                    <li><a href="{{path('admin_book')}}" title="">Plan du site</a></li>
                 </ul>
            </div>
            <div class="footer-column">
                <h3>Mon compte</h3>
                {% if app.user %}
                    <ul>
                        <li><a href="{{path('customer_account')}}" title="">Mes commandes</a></li>
                        <li><a href="{{path('customer_edit', {id: app.user.id})}}" title="">Mes informations</a></li>
                    </ul>
                {% else %}
                    <a href="{{path('customer_account')}}" title="lien de connexion">
                        <p>Connectez-vous ou créez un compte</p>
                    </a>
                {% endif %}
            </div>
            <div class="footer-column">
                <h3>Catégories</h3>
                    <ul>
                        {% for category in footerLinks %}
                            <li><a href="{{path('category', {id:category.id})}}" title="">{{ category.name }}</a></li>
                        {% endfor %}
                    </ul>
            </div>
        </footer>
    </body>
</html>
