{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
<div class="breadcrumb">
    <h1 class="signature">Librairie inclusive de livres numériques à lire et à écouter !</h1>
</div>
<section>
        <div class="list">
            {% for category in categories %}
                <a class="categories" href="{{path('category', {id:category.id})}}" target="parent" title="">
                    <p>{{category.name}}</p>
                </a>
            {% endfor %}
        </div>
</section>
<section>
    <h2>À paraître</h2>
    <div class="list">
        {% for book in upcoming_books %}
        <a class="book-card" href="{{path('book', {id: book.id})}}" title="">
        <article class="upcoming">
            <div class="book-content">
                <p class="contributor-name">
                    {% for boSkCo in book.boSkCos %}
                        {% if boSkCo.skill.name == 'Auteur' %}
                            {{boSkCo.contributor.firstname}} {{boSkCo.contributor.lastname}}<br>
                        {% endif %}
                    {% endfor %}
                </p>
                <img class="cover" src="{{asset('img/livres/' ~ book.cover)}}" alt="{{book.title}}" >
                <p class="book-title">{{book.title}}</p>
            </div>
            <ul class="book-prices">
            {% for format in book.formats %}
                <li class="book-price">{{format.priceHT}}€</li>
                <li class="book-type"><span class="material-symbols-outlined">{{format.type.typeImg}}</span> {{format.type.name}}</li>
            {% endfor %}
            </ul>
        </article>
        </a>
        {% endfor %}
    </div>
</section>
<section>
    <h2>Nouveautés</h2>
    <div class="list">
        {% for book in new_books %}
        <a class="book-card" href="{{path('book', {id: book.id})}}" title="">
        <article class="newbooks">
            <div class="book-content">
                <p class="contributor-name">
                    {% for boSkCo in book.boSkCos %}
                        {% if boSkCo.skill.name == 'Auteur' %}
                            {{boSkCo.contributor.firstname}} {{boSkCo.contributor.lastname}}<br>
                        {% endif %}
                    {% endfor %}
                </p>
                <img class="cover" src="{{asset('img/livres/' ~ book.cover)}}" alt="{{book.title}}" >
                <p class="book-title">{{book.title}}</p>
            </div>
            <div class="stars-display stars">
                {% if average_stars[book.id] %}
                        {% for i in 1..5 %}
                            {% if i <= average_stars[book.id] %}
                                <span class="star">&#9733;</span> {# Étoile pleine #}
                            {% else %}
                                <span class="star">&#9734;</span> {# Étoile vide #}
                            {% endif %}
                        {% endfor %}
                {% else %}
                    <span class="star grey">&#9734;</span> {# Étoile vide #}
                    <span class="star grey">&#9734;</span> {# Étoile vide #}
                    <span class="star grey">&#9734;</span> {# Étoile vide #}
                    <span class="star grey">&#9734;</span> {# Étoile vide #}
                    <span class="star grey">&#9734;</span> {# Étoile vide #}
                {% endif %}            
            </div>              <ul class="book-prices">
            {% for format in book.formats %}
                <li class="book-price">{{format.priceHT}}€</li>
                <li class="book-type"><span class="material-symbols-outlined">{{format.type.typeImg}}</span> {{format.type.name}}</li>
            {% endfor %}
            </ul>
        </article>
        </a>
        {% endfor %}
    </div>
</section>



{% endblock %}
