{% extends 'base.html.twig' %}

{% block title %}Votre commande{% endblock %}

{% block body %}
{#Fil d'ariane#}
<div class="breadcrumb">
    {% include 'breadcrumb.html.twig' with { 'breadcrumbs': breadcrumbs } %}
</div>
<section>
    {#Bloc #}
    <div class="contributor-detail">
            <h1>Ma commande</h1>
    </div>
    <div class="order-foot">
        <a class="extract" href="{{path('order_abort', {id: order.id})}}">Annuler la commande</a>
    </div>

    {% if formatsOrder %}
    <div class="basket-container">
        <table class="table">
        <thead>
            <tr>
                <th>Titre</th>
                <th>Couverture</th>
                <th>Type</th>
                <th>Prix HT</th>
                <th>Prix TTC</th>
            </tr>
        </thead>
        <tbody>
            {% for format in formatsOrder.formats %}
                <tr>
                {% for books in format.books %}
                    <td>{{ books.title }}</td>
                    <td>
                    <a href="{{path('book', {id: books.id})}}" title="voir le livre">
                        {% if books.cover %}
                            <img src="{{ asset('img/livres/' ~ books.cover) }}" alt="{{ books.title }}" style="max-width: 40px;">
                        {% else %}
                            Pas de couverture
                        {% endif %}
                    </a>
                    </td>
                {% endfor %}
                    <td>
                        <p>{{format.type.name}}</p>
                    </td>
                    <td>
                        {{format.priceHT}} €
                    </td>
                    <td>
                        {{format.priceTTC}} €
                    </td>
                </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr class="order-tfoot">
                <td colspan="3">TOTAL</td>
                <td>{{ formatsOrder.totalHT }} €</td>
                <td>{{ formatsOrder.totalTTC }} €</td>
            </tr>
        </tfoot> 
    </table>   
    {% else %}
        <p class="center">Votre panier est vide</p>
    {% endif %}
    <div class="order-foot">
        <a class="extract" href="{{path('payplug_pay', {id: order.id})}}">Je paye et télécharge mon livre</a>
    </div>

</section>

{% endblock %}
